In [1]:
import pandas as pd
import re

In [ ]:
# Import csv to dataframe
df = pd.read_csv("data_elonmusk.csv", encoding = 'latin1')

In [3]:
# Select time and tweet columns
df = df[['Time', 'Tweet']]

In [4]:
# Reverse order
df = df[::-1].reset_index(drop=True)

In [5]:
# Replace urls with {URL}
for i in range(0,len(df)):
    if 'http' in df['Tweet'][i]:
        urls = re.findall(r'(https?://\S+)', df['Tweet'][i])
        for url in urls:
            df['Tweet'][i] = df['Tweet'][i].replace(url, '{URL}')

C:\Users\tikit\AppData\Local\Temp\ipykernel_19604\3557448150.py:6: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['Tweet'][i] = df['Tweet'][i].replace(url, '{URL}')

In [6]:
df.head()

                  Time                                              Tweet
0  2012-11-16 17:59:47  RT @Jon_Favreau: My Model S just arrived and I...
1  2012-11-19 08:59:46  Just returned from a trip to London and Oxford...
2  2012-11-20 08:30:44  Was misquoted by BBC as saying Europe's rocket...
3  2012-11-20 08:38:31  These articles in Space News describe why Aria...
4  2012-11-20 08:52:03  @YOUSRC Amos's article was fair, but his edito...

In [8]:
# Save to csv
df.to_csv

<bound method NDFrame.to_csv of                      Time                                              Tweet
0     2012-11-16 17:59:47  RT @Jon_Favreau: My Model S just arrived and I...
1     2012-11-19 08:59:46  Just returned from a trip to London and Oxford...
2     2012-11-20 08:30:44  Was misquoted by BBC as saying Europe's rocket...
3     2012-11-20 08:38:31  These articles in Space News describe why Aria...
4     2012-11-20 08:52:03  @YOUSRC Amos's article was fair, but his edito...
...                   ...                                                ...
3213  2017-09-29 09:19:21  Fly to most places on Earth in under 30 mins a...
3214  2017-09-29 09:56:12                                       Part 2 {URL}
3215  2017-09-29 10:39:57                                     @bigajm Yup :)
3216  2017-09-29 10:44:54  RT @SpaceX: BFR is capable of transporting sat...
3217  2017-09-29 17:39:19  @MeltingIce Assuming max acceleration of 2 to ...

[3218 rows x 2 columns]>